
/* General Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */

.header{
    padding: 32px ;
    background-color: #35424a;
    color: white;
    border-bottom: 3px solid #e8491d;

}
#header{
    color: #e8491d;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container_title{
    margin-left: 20px;
}

.header_nav{
    width: 30%;
}

.header_nav_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_nav_list a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.list_item_active a{
    color: #e8491d;

}

.header_nav_list a:hover{
    color: #e8491d;

}

/* Show Case Style */

.showCase {
    height: 400px;
    color: white;
    text-align: center;
    background-image: url(./images/showcase.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size:cover ;
}

.showCase_title{
    padding:60px 0 20px 0 ;
    font-size: 60px;
}

.showCase_content{
    font-size: 20px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

/* icons style */

.socialMedia{
    padding: 47px 0px;
    background-color: #35424a;
    color: white;
}

.socialMedia_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialMedia_container_title{
    font-weight: bold;
    font-size: 25px;
    margin-left: 50px;
}

.socialMedia_container_icons{
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.socialMedia_container_icons i {
    width: 40px;
    height: 40px;
    border: 2px solid #f4f4f4;
    border-radius: 50%;
    color: #e8491d;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
}

.socialMedia_container_icons i:hover{
    border-color: #e8491d ;
}





/* Media Query style */

@media screen and (max-width : 768px){

    /*  header style*/
    .header_container{
        flex-direction: column;
    }
    .header_nav{
        width: 100%;
    }
    .header_container_title{
        padding-bottom: 10px;
        margin-left: 0px;
    }

    /* ShowCase style */

    .showCase_content{
        width: auto;
    }
    .showCase_title{
        font-size: 32px;
    }

    /* icons style */ 

    .socialMedia_container{
        flex-direction: column;
    }
     .socialMedia_container_icons{
         width: 70%;
         padding-top: 15px;
     }

     .socialMedia_container_title{
         font-size: 20px;
         text-align: center;
         margin-left: 0px;
         padding: 7px 0px;
     }

}







/* Colors 

#35424a;

#e8491d;

#ffffff

 */




 
