
/* General Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */

.header{
    padding: 32px ;
    background-color: #35424a;
    color: white;
    border-bottom: 3px solid #e8491d;

}
#header{
    color: #e8491d;
}

.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_container_title{
    margin-left: 20px;
}

.header_nav{
    width: 30%;
}

.header_nav_list{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_nav_list a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.list_item_active a{
    color: #e8491d;

}

.header_nav_list a:hover{
    color: #e8491d;

}

/* Show Case Style */

.showCase {
    height: 400px;
    color: white;
    text-align: center;
    background-image: url(./images/showcase.jpg);
    background-repeat: no-repeat;
    background-position:center ;
    background-size:cover ;
}

.showCase_title{
    padding:60px 0 20px 0 ;
    font-size: 60px;
}

.showCase_content{
    font-size: 20px;
    padding: 10px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}




/* Media Query style */

@media screen and (max-width : 768px){

    /*  header style*/
    .header_container{
        flex-direction: column;
    }
    .header_nav{
        width: 100%;
    }
    .header_container_title{
        padding-bottom: 10px;
        margin-left: 0px;
    }

    /* ShowCase style */

    .showCase_content{
        width: auto;
    }
    .showCase_title{
        font-size: 32px;
    }

}







/* Colors 

#35424a;

#e8491d;

#ffffff

 */




 
